.AddInviterForm {
  .MuiFormControl-root {

    & > div {
      display: flex;
      margin: 1vh 0;
    }

    & .name-and-quantity {
      div:nth-child(1) {
        flex: 1;
        margin-right: 1vw;
      }
    }

    & .phone-and-email {
      div:nth-child(1) {
        margin-right: 1vw;
      }
    }

    & .group-owner {
      div:nth-child(1) {
        margin-right: 1vw;
      }
    }
    & .location-ride {
      div:nth-child(1) {
        flex: 4;
      }
    }


  }
}